.box{
    background-color: rgb(245, 244, 244);
    padding:30px 60px;
}


.fa-brands{
    color: blue;
    font-size: 40px;
}



.box-part{
    background-color: rgb(231, 230, 230);
    text-align: center;
    padding: 50px 10px;
    margin:15px 20px 25px 20px;
    border-radius: 10px;
}
